<nav>
    <ul>
        <!-- Exemple : à modifier pour pointer vers vos propres routes -->
        <li><a href="{{ path('accueil') }}">Accueil</a></li>
        <li><a href="{{ path('shop_product') }}">Produits</a></li>
        <li><a href="{{ path('shop_product_panier') }}">Panier</a></li>
        <li><a href="{{ path('auth') }}">Connexion</a></li>
    </ul>
</nav>