{# template racine (niveau 1) pour TwigController : version 2 #}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}SportShop{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
</head>
<body>
<div id="banner">
    {% block banniere %}
        {% if app.user %}
            {% if 'ROLE_ADMIN' in app.user.roles or 'ROLE_SUPER_ADMIN' in app.user.roles %}
                <img src="{{ asset('images/banner_admin.jpg') }}" alt="Admin" class="banner-img">
            {% else %}
                <img src="{{ asset('images/banner_connected.jpg') }}" alt="Utilisateur connecté" class="banner-img">
            {% endif %}
        {% else %}
            <img src="{{ asset('images/banner_disconnected.jpg') }}" alt="Utilisateur non connecté" class="banner-img">
        {% endif %}
    {% endblock %}
</div>


<div id="nav">
    {% include 'layouts/_menu.html.twig'%}

</div>


<div id="vue">
    <h2>{% block titre_principal %}{% endblock %}</h2>
    {% block vue %}{% endblock %}
</div>

<div id="footer">
    {% include 'layouts/_footer.html.twig'%}

</div>
</body>
</html>
