{% extends 'shop/layouts/main_layout.html.twig' %}

{% block title %}Espace Administrateur{% endblock %}

{% block vue %}
    <h1>Espace Super Administrateur</h1>
    <ul>
        <li><a href="{{ path('superadmin_usertable') }}">Consulter les utilisateurs à promouvoir</a></li>

    </ul>
{% endblock %}
