{% extends 'shop/layouts/main_layout.html.twig' %}
{% block title %}{{ parent() }} - List{% endblock %}

{% block titre_principal %}<h2>List</h2>{% endblock %}

{% block vue %}
    <p>
        Le paragraphe du template <code>list.html.twig</code>
    </p>
{% endblock %}
