{% extends 'shop/layouts/main_layout.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block vue %}
    <div class="example-wrapper">
        <h1>Authentication</h1>

        <form method="post" action="{{ path('authapp_login') }}">
            {# CSRF token obligatoire #}
            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >

            <div>
                <label for="username">Nom d'utilisateur</label>
                <input type="text" id="username" name="username" required autofocus>
            </div>
            <div>
                <label for="password">Mot de passe</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div>
                <button type="submit">Se connecter</button>
            </div>
        </form>

    </div>
    <br />
    <div>
        <label><button><a href="/auth/new">Créer un compte</a></button></label>
    </div>
{% endblock %}
